/.idea
lectures/data-2.csv
lectures/data.csv
lectures/lecture-01.ipynb
lectures/lecture-01.pdf
lectures/lecture-02.ipynb
lectures/lecture-02.pdf
lectures/lecture-03-part-1.ipynb
lectures/lecture-03-part-1.pdf
lectures/lecture-03-part-2.ipynb
lectures/lecture-03-part-2.pdf
lectures/lecture-04.ipynb
lectures/lecture-04.pdf
lectures/lecture-05-part-1.ipynb
lectures/lecture-05-part-1.pdf
lectures/lecture-05-part-2.ipynb
lectures/lecture-05-part-2.pdf
lectures/lecture-06.ipynb
lectures/lecture-06.pdf
lectures/lecture-07.ipynb
lectures/lecture-07.pdf
lectures/lecture-12.ipynb
lectures/.ipynb_checkpoints/lecture-12-checkpoint.ipynb
book/homework/homework-05.ipynb
lectures/lecture-13.ipynb
lectures/.ipynb_checkpoints/lecture-13-checkpoint.ipynb
