/.idea
lectures/.ipynb_checkpoints/lecture-03-checkpoint.ipynb
lectures/.ipynb_checkpoints/lecture-02-checkpoint.ipynb
lectures/.ipynb_checkpoints/lecture-01-checkpoint.pdf
lectures/.ipynb_checkpoints/lecture-01-checkpoint.ipynb
lectures/.ipynb_checkpoints/data-checkpoint.csv
lectures/.ipynb_checkpoints/data-2-checkpoint.csv
lectures/lecture-03.ipynb
lectures/lecture-02.pdf
lectures/lecture-02.ipynb
lectures/lecture-01.pdf
lectures/lecture-01.ipynb
lectures/data.csv
lectures/data-2.csv
